body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(174, 210, 219);
}

#option {
  width: 100%;
  height: 50px;
  background: white;
  display: flex;
  justify-content: center;
}

.option-btn {
  height: 100%;
  padding: 0 10px;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  background: palegreen;
  cursor: pointer;
}

.option-btn:hover {
  background: rgb(110, 255, 110);
}

#app {
  margin: auto;
  border: 1px solid black;
  background: white;
  cursor: url(./images/pencil32.png) 0 32, auto;
}